.shoe-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.shoe-item {
  padding: 20px;
  background-color: #eee;
  border-radius: 12px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shoe-img {
  width: 100px;
  height: 100px;
}

@media (max-width: 425px) {
  .shoe-list {
    grid-template-columns: 1fr 1fr;
  }
}
